<?xml version="1.0" encoding="utf-8"?>
<System SysID="Power">
    <NetworkCollection>
        <Network NetID="NetEthernet" TypeNetwork="Ethernet">
            <Description>Operational wired network for power devices</Description>
            <NetworkData SubID="192.168.10">
                <Properties>
                    <Variable LocalID="NetAddr" TypeNum="String">192.168.10</Variable>
                </Properties>
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops.Network" DevID="OpsBatteryGate" PortID="9">
                        <PortNetProgram PortID="502" Protocol="Modbus" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Victron.Network" DevID="CerboGx" PortID="10">
                        <PortNetProgram PortID="502" Protocol="Modbus" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ops.Controller" DevID="OpsIpc" PortID="11">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ops.Instrument" DevID="OpsDisplay" PortID="12">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetWiFi" TypeNetwork="Ethernet">
            <Description>Operational wireless network for power devices</Description>
            <NetworkData SubID="192.168.11">
                <Properties>
                    <Variable LocalID="NetAddr" TypeNum="String">192.168.11</Variable>
                </Properties>
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops.Network" DevID="OpsBatteryGate" PortID="9">
                        <PortNetProgram PortID="502" Protocol="Modbus" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Victron.Network" DevID="CerboGx" PortID="10">
                        <PortNetProgram PortID="502" Protocol="Modbus" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ops.Controller" DevID="OpsIpc" PortID="11">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ops.Instrument" DevID="OpsDisplay" PortID="12">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetVeDirect" TypeNetwork="PowerData">
            <Description>Power data network for Victron devices</Description>
            <NetworkData SubID="Victron">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Victron.Network" DevID="VeDirectToUsbA" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Victron.Network" DevID="VeDirectToUsbB" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Victron.Network" DevID="CerboGx" PortID="VeDirect1" />
                    <PortNetDevice ParentGlobalID="Victron.Network" DevID="CerboGx" PortID="VeDirect2" />
                    <PortNetDevice ParentGlobalID="Victron.Network" DevID="CerboGx" PortID="VeDirect3" />
                    <PortNetDevice ParentGlobalID="Ops.Convert" DevID="OpsAcDcCharger" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Ops.Convert" DevID="OpsDcDcConverter" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Ops.Network" DevID="OpsSmartShunt" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Ops.Network" DevID="OpsBatteryGate" PortID="VeDirect" />
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetOps" TypeNetwork="PowerData">
            <NetworkData SubID="Power">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops.Consume" DevID="OpsPowerJunction" PortID="PowerNet" />
                    <PortNetDevice ParentGlobalID="Ops.Controller" DevID="OpsIpc" PortID="PowerNet" />
                </PortNetCollection>
            </NetworkData>
            <NetworkData SubID="Panels">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops.Consume" DevID="OpsPowerPanel" PortID="PowerPanelIo" />
                    <PortNetDevice ParentGlobalID="Ops.Consume" DevID="OpsPowerJunction" PortID="PowerPanelIo" />
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetAc" TypeNetwork="Power">
            <Description>220VAC dock power network</Description>
            <NetworkData SubID="Dock">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops.Isolate" DevID="OpsPowerSwitch" PortID="Input" />
                    <PortNetDevice ParentGlobalID="Ops.Convert" DevID="OpsAcDcCharger" PortID="Input" />
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetDc" TypeNetwork="Power">
            <Description>Power network for 12VDC Lithium</Description>
            <NetworkData SubID="Generator">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops.Isolate" DevID="OpsDiodeIsolator" PortID="Input" />
                    <PortNetDevice ParentGlobalID="Rotate.Source" DevID="EngineGenerator" PortID="Output" />
                </PortNetCollection>
            </NetworkData>
            <NetworkData SubID="Aux">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops.Source" DevID="OpsLithiumBattery" PortID="Pos" />
                    <PortNetDevice ParentGlobalID="Ops.Isolate" DevID="OpsDiodeIsolator" PortID="Output1" />
                    <PortNetDevice ParentGlobalID="Ops.Isolate" DevID="OpsBatteryFuse" PortID="Port1" />
                    <PortNetDevice ParentGlobalID="Ops.Isolate" DevID="OpsPowerSwitch" PortID="Input" />
                    <PortNetDevice ParentGlobalID="Ops.Convert" DevID="OpsBatteryCharger" PortID="Battery" />
                    <PortNetDevice ParentGlobalID="Ops.Network" DevID="OpsSmartShunt" PortID="Output1" />
                    <PortNetDevice ParentGlobalID="Ops.Network" DevID="OpsBatteryGate" PortID="Input" />
                    <PortNetDevice ParentGlobalID="Ops.Consume" DevID="OpsPowerJunction" PortID="Input" />
                    <PortNetDevice ParentGlobalID="Ops.Controller" DevID="OpsIpc" PortID="Input" />
                    <PortNetDevice ParentGlobalID="Ops.Instrument" DevID="OpsDisplay" PortID="Input" />
                </PortNetCollection>
            </NetworkData>
            <NetworkData SubID="Motor">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops.Source" DevID="OpsMotorBattery" PortID="Pos" />
                    <PortNetDevice ParentGlobalID="Ops.Isolate" DevID="OpsDiodeIsolator" PortID="Output2" />
                    <PortNetDevice ParentGlobalID="Ops.Isolate" DevID="OpsBatteryFuse" PortID="Port1" />
                    <PortNetDevice ParentGlobalID="Ops.Convert" DevID="OpsBatteryCharger" PortID="Motor" />
                    <PortNetDevice ParentGlobalID="Ops.Network" DevID="OpsSmartShunt" PortID="Output2" />
                    <PortNetDevice ParentGlobalID="Rotate.Consume" DevID="EngineStartMotor" PortID="Input" />
                </PortNetCollection>
            </NetworkData>
            <NetworkData SubID="Level">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops.Isolate" DevID="OpsDiodeIsolator" PortID="Output3" />
                    <PortNetDevice ParentGlobalID="Ops.Convert" DevID="OpsDcDcConverter" PortID="Output" />
                    <PortNetDevice ParentGlobalID="Ops.Isolate" DevID="OpsBatteryFuse" PortID="Port1" />
                    <PortNetDevice ParentGlobalID="Ops.Source" DevID="OpsLithiumBattery" PortID="Pos" />
                </PortNetCollection>
            </NetworkData>
        </Network>
    </NetworkCollection>
</System>