<?xml version="1.0" encoding="utf-8"?>
<System SysID="Power">
    <NetworkCollection>
        <Network NetID="NetEthernet" TypeNetwork="Ethernet">
            <Description>Operational wired network for power devices</Description>
            <NetworkData SubID="192.168.10">
                <Properties>
                    <Variable LocalID="NetAddr" TypeNum="String">192.168.10</Variable>
                </Properties>
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Victron" DevID="CerboGx" PortID="10">
                        <PortNetProgram PortID="502" Protocol="Modbus" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ids" DevID="PlcIpc" PortID="11">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ids" DevID="Op" PortID="12">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetWiFi" TypeNetwork="Ethernet">
            <Description>Operational wireless network for power devices</Description>
            <NetworkData SubID="192.168.11">
                <Properties>
                    <Variable LocalID="NetAddr" TypeNum="String">192.168.11</Variable>
                </Properties>
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Victron.Io" DevID="CerboGx" PortID="10">
                        <PortNetProgram PortID="502" Protocol="Modbus" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ids" DevID="PlcIpc" PortID="11">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ids" DevID="Op" PortID="12">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetVeDirect" TypeNetwork="PowerData">
            <Description>Power data network for Victron devices</Description>
            <NetworkData SubID="Io">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Victron.Io" DevID="VeDirectToUsbA" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Victron.Io" DevID="VeDirectToUsbB" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Victron.Io" DevID="CerboGx" PortID="VeDirect1" />
                    <PortNetDevice ParentGlobalID="Victron.Io" DevID="CerboGx" PortID="VeDirect2" />
                    <PortNetDevice ParentGlobalID="Victron.Io" DevID="CerboGx" PortID="VeDirect3" />
                    <PortNetDevice ParentGlobalID="Victron.Source" DevID="Chg12V" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Victron.Source" DevID="Chg24V" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Victron.Convert" DevID="Aux24V" PortID="VeDirect" />
                    <PortNetDevice ParentGlobalID="Victron.Convert" DevID="24VT" PortID="VeDirect" />
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetAc" TypeNetwork="Power">
            <Description>220VAC dock power network</Description>
            <NetworkData SubID="Dock">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ids.Isolate" DevID="SwitchCharge" PortID="Input" />
                    <PortNetDevice ParentGlobalID="Ids.Convert" DevID="Charge" PortID="Input" />
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetDc" TypeNetwork="Power">
            <Description>Power network for 12VDC Lithium</Description>
            <NetworkData SubID="Generator">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ids.Isolate" DevID="Diode" PortID="Input" />
                    <PortNetDevice ParentGlobalID="Ids.Source" DevID="Generator" PortID="Output" />
                </PortNetCollection>
            </NetworkData>
            <NetworkData SubID="Aux">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ids.Source" DevID="BattAux" PortID="Pos" />
                    <PortNetDevice ParentGlobalID="Ids.Isolate" DevID="Diode" PortID="Output1" />
                    <PortNetDevice ParentGlobalID="Ids.Isolate" DevID="FuseAux" PortID="Port1" />
                    <PortNetDevice ParentGlobalID="Ids.Isolate" DevID="SwitchAux" PortID="Input" />
                    <PortNetDevice ParentGlobalID="Ids.Convert" DevID="Charge" PortID="Battery" />
                    <PortNetDevice ParentGlobalID="Ids.Io" DevID="Shunt" PortID="Output" />
                    <PortNetDevice ParentGlobalID="Ids.Consume" DevID="Aux" PortID="Input" />
                </PortNetCollection>
            </NetworkData>
            <NetworkData SubID="Motor">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ids.Source" DevID="BattMotor" PortID="Pos" />
                    <PortNetDevice ParentGlobalID="Ids.Isolate" DevID="Diode" PortID="Output2" />
                    <PortNetDevice ParentGlobalID="Ids.Isolate" DevID="FuseMotor" PortID="Port1" />
                    <PortNetDevice ParentGlobalID="Ids.Convert" DevID="Charge" PortID="Motor" />
                    <PortNetDevice ParentGlobalID="Ids.Consume" DevID="Motor" PortID="Input" />
                </PortNetCollection>
            </NetworkData>
            <NetworkData SubID="Level">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ids.Isolate" DevID="Diode" PortID="Output3" />
                    <PortNetDevice ParentGlobalID="Ids.Convert" DevID="DcDc" PortID="Output" />
                    <PortNetDevice ParentGlobalID="Ids.Consume" DevID="Level" PortID="Input" />
                </PortNetCollection>
            </NetworkData>
        </Network>
    </NetworkCollection>
</System>