<?xml version="1.0" encoding="utf-8"?>
<System SysID="Steering">
    <NetworkCollection>
        <Network NetID="NetEthernet" TypeNetwork="Ethernet">
            <Description>Operational wired network for power devices</Description>
            <NetworkData SubID="192.168.10">
                <Properties>
                    <Variable LocalID="NetAddr" TypeNum="String">192.168.10</Variable>
                </Properties>
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops" DevID="OpsController" PortID="11">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ops" DevID="OpsInstrumentDisplay12" PortID="12">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetWiFi" TypeNetwork="Ethernet">
            <Description>Operational wireless network for power devices</Description>
            <NetworkData SubID="192.168.11">
                <Properties>
                    <Variable LocalID="NetAddr" TypeNum="String">192.168.11</Variable>
                </Properties>
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Ops" DevID="OpsController" PortID="11">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ops" DevID="OpsInstrumentDisplay12" PortID="12">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetDc" TypeNetwork="Power">
            <Description>Power network for 24VDC Lithium</Description>
            <NetworkData SubID="Aux">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Power.Source" DevID="BatteryAux" PortID="Pos" />
                    <PortNetDevice ParentGlobalID="Ops" DevID="OpsController" PortID="24V" />
                    <PortNetDevice ParentGlobalID="Ops" DevID="OpsInstrumentDisplay12" PortID="24V" />
                </PortNetCollection>
            </NetworkData>
        </Network>
    </NetworkCollection>
</System>