<?xml version="1.0" encoding="utf-8"?>
<System SysID="Mass">
    <NetworkCollection>
        <Network NetID="NetEthernet" TypeNetwork="Ethernet">
            <Description>Operational wired network for MASS</Description>
            <NetworkData SubID="192.168.10">
                <Properties>
                    <Variable LocalID="NetAddr" TypeNum="String">192.168.10</Variable>
                </Properties>
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Batt" DevID="CerboGx" PortID="10">
                        <PortNetProgram PortID="502" Protocol="Modbus" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ids.CcM" DevID="C6015" PortID="11">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Steer" DevID="Op1" PortID="12">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Steer" DevID="Op2" PortID="13">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetWiFi" TypeNetwork="Ethernet">
            <Description>Operational wireless network for MASS</Description>
            <NetworkData SubID="192.168.11">
                <Properties>
                    <Variable LocalID="NetAddr" TypeNum="String">192.168.11</Variable>
                </Properties>
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Batt" DevID="CerboGx" PortID="10">
                        <PortNetProgram PortID="502" Protocol="Modbus" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Ids.CcM" DevID="C6015" PortID="11">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Steer" DevID="Op1" PortID="12">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Steer" DevID="Op2" PortID="13">
                        <PortNetProgram PortID="54374" Protocol="System" />
                    </PortNetDevice>
                </PortNetCollection>
            </NetworkData>
        </Network>
        <Network NetID="NetC" TypeNetwork="NMEA2000">
            <Description>New network</Description>
            <NetworkData SubID="CanHs250">
                <PortNetCollection>
                    <PortNetDevice ParentGlobalID="Steer.Ap" DevID="Ngx1" PortID="7">
                        <PortNetProgram PortID="ComN2k" Protocol="NMEA2000" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Steer.Ap" DevID="GnssR" PortID="8">
                        <PortNetProgram PortID="ComN2k" Protocol="NMEA2000" />
                    </PortNetDevice>
                    <PortNetDevice ParentGlobalID="Steer.Ap" DevID="Rudd.Rf" PortID="9">
                        <PortNetProgram PortID="ComN2k" Protocol="NMEA2000" />
                    </PortNetDevice>
                </PortNetCollection>
            </NetworkData>
        </Network>
    </NetworkCollection>
</System>